In [1]:
print("hello")

hello

In [2]:
print("hello world")

hello world

In [4]:
print("welcome to python") ; print("python is open source")

welcome to python
python is open source

In [5]:
print("""welcom to python
welcome to dpi
welcom to data""")

welcom to python
welcome to dpi
welcom to data

In [7]:
print("Maha" , end = "-------------- ")
print("Abdelmonsef")

Maha-------------- Abdelmonsef

In [8]:
print("welcom" , "to" , "python", end = ".")
print("what is python" , end= ":")
print("python is open source")

welcom to python.what is python:python is open source

In [9]:
# comment -> Note
#this is my first program
print("hello world")

hello world

In [11]:
age = 40
print(age)

40

In [13]:
name ="yamen bassam"
age = 5
print(name)
print(age)

yamen bassam
5

In [14]:
sales = 15000.155
print(sales)

15000.155

In [17]:
is_student = True

print(is_student)

True

In [21]:
is_student = "true"  
print(is_student)

true

In [23]:
gender = "female"
print(gender)

female

In [30]:
name = "Maha aBDELMONSEF"
address = "ALEX"
age = 30
age = str(age)
print(type(age))
gender = "female"
print("full_name is:" , name)
print("address:" , address)
print("age:" , age )
print("gender:" , gender)

<class 'str'>
full_name is: Maha aBDELMONSEF
address: ALEX
age: 30
gender: female

In [3]:
sales = 30.45
print(sales)
print(type(sales))

30.45
<class 'float'>

In [35]:
num1 = 20
num2 = 2
num3 = num1 - num2
print(num3)

48

In [6]:
sales= 25.8
print(int(sales))
print(str(sales))

25
25.8

In [16]:
num1 = 9
num2 = 3
num3 = num1 * num2
num4 = num1 / num3
num5 = num1 // num2
num6 = num1 % num2
print(num3)
print(num4)
print (num5)
print(num6)

27
0.3333333333333333
3
0

In [17]:
num1**2

81

In [18]:
num2**2

9

In [19]:
num5**2

9

In [22]:
full_name = input("enter your name")
adress = input("enter your address")
age = input("enter your age")
gender = input("enter your gender")

enter your name maha
enter your address alex
enter your age 38
enter your gender female

In [23]:
full_name = input("enter your name")
adress = input("enter your address")
age = input("enter your age")
gender = input("enter your gender")
print("full_name:" , full_name)
print("adress:" , adress)
print("age:" , age)
print("gender:" , gender)

enter your name yamen
enter your address alex
enter your age 5
enter your gender male

full_name: yamen
adress: alex
age: 5
gender: male

In [33]:
quantity = int(input("enter quantity"))
price = int(input("enter price"))

total_amount = quantity * price  
print(total_amount)

enter quantity 20
enter price 30

600

In [36]:
num1 = 25.7
print(round(num1))

26

In [42]:
print(pow(2,4))

16

In [43]:
import math

In [48]:
print(math.ceil(2.9))
print(math.ceil(2.7))
print(math.ceil(2.5))
print(math.ceil(2.1))

3
3
3
3

In [49]:
print(math.floor(2.9))
print(math.floor(2.7))
print(math.floor(2.5))
print(math.floor(2.1))

2
2
2
2

In [54]:
print(math.sqrt(81))

9.0

In [57]:
print(math.fabs(-36))

36.0

In [58]:
print(math.pi)

3.141592653589793

In [61]:
length = int(input("enter length"))
width = int(input("enter width"))
area = length * width
print("the area is:" , area)

enter length 20
enter width 10

the area is: 200

In [62]:
length = math.fabs(int(input("enter length")))
width = math.fabs(int(input("enter width")))
area = length * width
print("the area is:" , area)

enter length -10
enter width 20

the area is: 200.0

In [71]:
radius = int(input("enter radius"))
area = math.pi * math.pow(radius,2)
print("the area is:" ,  area)

enter radius 20

the area is: 1256.6370614359173

In [73]:
aradius=int(input("enter the radius"))
area = 3.14 * radius**2
print("the area is:" , area)

enter the radius 20

the area is: 1256.0